x-default-timeouts: &default-timeouts
  connect_milliseconds: 60_000
  socket_milliseconds: 300_000
  total_milliseconds: 300_000
  retry_delay_milliseconds: 5_000
  max_retries: 3

x-icon-timeouts: &icon-timeouts
  connect_milliseconds: 2_000
  socket_milliseconds: 2_000
  total_milliseconds: 10_000
  retry_delay_milliseconds: 1_000
  max_retries: 3

x-channel-timeouts: &channel-timeouts
  connect_milliseconds: 5_000
  socket_milliseconds: 30_000
  total_milliseconds: 60_000
  retry_delay_milliseconds: 2_000
  max_retries: 3

host: 127.0.0.1 # IPv4 or IPv6 address to bind to, use `::` (dual-stack) or `0.0.0.0` (IPv4 only) to bind to all interfaces
port: ${PORT:-8080}
base_url: http://127.0.0.1:8888
app_secret: "Changeme!"
log_level: ${IPTV_PROXY_LOG_LEVEL:-ERROR}
timeouts:
  playlist: *default-timeouts
  icon: *icon-timeouts
client_http_cache:
  enabled: true
  cleanup_interval: PT1H # Interval to clean up old cache entries
client_connection_max_idle_seconds: 60 # Max idle time for client connections -- important to free up user connections
update_interval: PT6H
update_interval_on_failure: PT10M # Interval to retry failed updates
cleanup_interval: PT1H # Interval to clean up old data
scheduler_thread_pool_size: 2 # Max. concurrent updater threads for the playlist and EPG
sort_channels: false
socks_proxy: null # socks5://<username>:<password>@server_host:port
http_proxy: null # http://<username>:<password>@server_host:port
cors: # Configure CORS response from the server - e.g. for direct access to the API from a web browser
  enabled: true
  allow_origins: ["*"]
  allow_headers:
    - "Content-Type"
    - "Authorization"
    - "X-Requested-With"
    - "Accept"
    - "Origin"
    - "User-Agent"
  allow_header_prefixes:
    - "X-Custom-"
  allow_methods:
    - GET
    - OPTIONS
  allow_credentials: true
  max_age: 3600
  expose_headers:
    - "X-Total-Count"
# whitelist_iptv_client_headers:
#  - "User-Agent" # Allows additional headers from the IPTV client to be passed to the server - default: allow all
blacklist_iptv_client_headers:
  - l5d-dst-override
  - l5d-connection-secure
  - l5d-remote-ipv6
  - l5d-client-id
# whitelist_iptv_server_headers:
#  - "X-Subscription-Expiry" # Allows additional headers from the IPTV server to be passed to the client - default: allow all
servers:
  - name: someiptv-1
    accounts:
      - url: https://someiptv.com/          # Xtream API server without the `.get.php`, `api.php`, `xmltv.php`, etc.
        xtream_username: 1234567890abcdef   # Xtream username
        xtream_password: aslkdfadsf         # Xtream password
        max_concurrent_requests: 3          # General max requests for this account
        max_concurrent_requests_per_host: 1 # Server specific max requests per hosts when requesting playback chunks
        user_agent: "TiviMate/5.1.6 (Android 14)" # Force a specific user agent for all requests with this account
      - url: https://someiptv.com/playlist.m3u
        login: account # HTTP Basic Auth login
        password: password # HTTP Basic Auth password
        max_user_connections: 3
        max_requests_per_host: 1 # Server specific max requests per hosts when requesting playback chunks
    epg_url: https://epg.example.com/epg.xml.gz
    epg_before: P7D
    epg_after: P7D
    proxy_stream: true
    proxy_forwarded_user: true
    proxy_forwarded_pass: "test"
    timeouts: *channel-timeouts
users:
  - username: 12345
    password: login1
    max_connections: 4 # Default is 1
  - username: 123456
    password: login2
  - username: 1234567
    password: login3
